.DS_Store
.hgignore

.hg/*
docs/
Libraries/CommonWangWang/
.svn/

Frameworks/PSMTabBarControl/build/*

*.mode1v3
*.pbxuser

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
